[access]
	inheritFrom = OSS/OSS-Parent
[access "refs/*"]
	owner = group DO_CI/CD_Governance
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	create = group DO_CI/CD_Governance
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	createTag = group DO_CI/CD_Governance
	createTag = group user/Cormac Hallinan (ezhalco)
	createTag = group user/James Curley (ecrljms)
	createTag = group user/Ruaidhri Garrett (eruagar)
	forgeCommitter = group DO_CI/CD_Governance
	forgeCommitter = group user/Cormac Hallinan (ezhalco)
	forgeCommitter = group user/James Curley (ecrljms)
	forgeCommitter = group user/Ruaidhri Garrett (eruagar)
	push = group DO_CI/CD_Governance
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
	label-Code-Review = -2..+2 group DO_CI/CD_Governance
	label-Code-Review = -2..+2 group user/Cormac Hallinan (ezhalco)
	label-Code-Review = -2..+2 group user/James Curley (ecrljms)
	label-Code-Review = -2..+2 group user/Ruaidhri Garrett (eruagar)
	label-Verified = -1..+1 group DO_CI/CD_Governance
	label-Verified = -1..+1 group user/Cormac Hallinan (ezhalco)
	label-Verified = -1..+1 group user/James Curley (ecrljms)
	label-Verified = -1..+1 group user/Ruaidhri Garrett (eruagar)
	rebase = group DO_CI/CD_Governance
	rebase = group user/Cormac Hallinan (ezhalco)
	rebase = group user/James Curley (ecrljms)
	rebase = group user/Ruaidhri Garrett (eruagar)
	submit = group DO_CI/CD_Governance
	submit = group user/Cormac Hallinan (ezhalco)
	submit = group user/James Curley (ecrljms)
	submit = group user/Ruaidhri Garrett (eruagar)
	label-Vertical-Slice = -1..+1 group DO_CI/CD_Governance
	label-Vertical-Slice = group user/Cormac Hallinan (ezhalco)
	label-Vertical-Slice = group user/James Curley (ecrljms)
	label-Vertical-Slice = group user/Ruaidhri Garrett (eruagar)
	label-BAT-Test = -1..+1 group DO_CI/CD_Governance
	label-BAT-Test = group user/Cormac Hallinan (ezhalco)
	label-BAT-Test = group user/James Curley (ecrljms)
	label-BAT-Test = group user/Ruaidhri Garrett (eruagar)
[access "^refs/changes/master*"]
	push = group DO_CI/CD_Governance
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
[access "^refs/for/d.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	pushMerge = group Registered Users
	pushMerge = group user/Cormac Hallinan (ezhalco)
	pushMerge = group user/James Curley (ecrljms)
	pushMerge = group user/Ruaidhri Garrett (eruagar)
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
	pushMerge = group user/James Curley (ecrljms)
	pushMerge = group user/Ruaidhri Garrett (eruagar)
[access "^refs/for/refs/heads/maintenance.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	label-Code-Review = -2..+2 group user/Cormac Hallinan (ezhalco)
	label-Code-Review = -2..+2 group user/James Curley (ecrljms)
	label-Code-Review = -2..+2 group user/Ruaidhri Garrett (eruagar)
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group user/Cormac Hallinan (ezhalco)
	label-Code-Review = -2..+2 group user/James Curley (ecrljms)
	label-Code-Review = -2..+2 group user/Ruaidhri Garrett (eruagar)
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/b.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
	pushMerge = group Registered Users
	pushMerge = group user/Cormac Hallinan (ezhalco)
	pushMerge = group user/James Curley (ecrljms)
	pushMerge = group user/Ruaidhri Garrett (eruagar)
[access "^refs/heads/d.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
	pushMerge = group Registered Users
	pushMerge = group user/Cormac Hallinan (ezhalco)
	pushMerge = group user/James Curley (ecrljms)
	pushMerge = group user/Ruaidhri Garrett (eruagar)
[access "^refs/heads/maintenance.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
	pushMerge = group Registered Users
	pushMerge = group user/Cormac Hallinan (ezhalco)
	pushMerge = group user/James Curley (ecrljms)
	pushMerge = group user/Ruaidhri Garrett (eruagar)
[access "^refs/tags/b.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	createTag = group Registered Users
	createTag = group user/Cormac Hallinan (ezhalco)
	createTag = group user/James Curley (ecrljms)
	createTag = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
[access "^refs/tags/d.*"]
	create = group Registered Users
	create = group user/Cormac Hallinan (ezhalco)
	create = group user/James Curley (ecrljms)
	create = group user/Ruaidhri Garrett (eruagar)
	createTag = group Registered Users
	createTag = group user/Cormac Hallinan (ezhalco)
	createTag = group user/James Curley (ecrljms)
	createTag = group user/Ruaidhri Garrett (eruagar)
	push = group Registered Users
	push = group user/Cormac Hallinan (ezhalco)
	push = group user/James Curley (ecrljms)
	push = group user/Ruaidhri Garrett (eruagar)
[project]
	description = SD Parent project specifically for projects using code review but should be used for all SD projects.
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/*"]
	read = group user/Abhishek Patel A (eaekpel)
	read = group user/Cormac Hallinan (ezhalco)
	read = group user/James Curley (ecrljms)
	read = group user/Ruaidhri Garrett (eruagar)
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
